.card {
  border: 1px solid #F3F3F3;
  padding: 30px;
  max-width: 210px;
  border-radius: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }


  .img{
    display: flex;
    justify-content: center;
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 13px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    max-width: 155px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardCost {
      display: flex;
      flex-direction: column;
    }
  }

  .favorite {
    cursor: pointer;
  }
  .plus{
    cursor: pointer;
  }
}
