header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;

  a{
    color: inherit;
    text-decoration: none;
  }

  .headerLeft {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      opacity: 0.5;
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }


  }

  .headerRight {
    display: flex;

    img {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }

    li {
      margin-right: 30px;
      list-style: none;
    }

    .cart{
      cursor: pointer;
    }

  }
}