body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {

  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      opacity: 0.5;
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }

  .headerRight {
    display: flex;

    img {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }

    li {
      margin-right: 30px;
      list-style: none;
    }

    .cart{
      cursor: pointer;
    }

  }
}

.content {

  padding: 20px;

  .clothes {
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .ContendHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      margin: 0;
    }

    .searchBlock {
      border: 1px solid #F3F3F3;
      border-radius: 10px;
      padding: 0 15px;
      display: flex;

      input {
        border: 0;
        padding: 13px;
        font-size: 14px;
        width: 200px;
      }
    }

  }
}

.items{
  flex:1;
}

  .drawerShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

  .drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
    display: flex;
    flex-direction: column;

    .items{
      overflow: auto;
      margin-bottom: 40px;
    }

    h2{
      display: flex;
      justify-content: space-between;
      margin: 0 0 30px 0;

      img{
        cursor: pointer;
      }
    }

  }

  .cartTotalBlock{

    ul{
      padding: 0;
      margin-bottom: 40px;
      li{
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        div{
          flex:1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }
      }
    }

    .greenButton{
      position: relative;

      &:hover{
        img{
          transform: translateX(5px);
        }
      }

      img{
        position: absolute;
        top: 20px;
        right: 30px;
        transition: transform 0.15s ease-in-out;
      }
    }

    .greenButton{
        width: 100%;
        height: 55px;
        background: #9DD558;
        border-radius: 18px;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.1s ease-in-out;

        &:hover{
          background: lighten(#9dd558,5%);
        }
        &:active{
          background: darken(#9dd558,5%);
        }

      }
    }

  .cartItem{
    display: flex;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 20px;

    .clothCart{
      flex: 1;
      margin-right: 20px;
    }
    .cartItemImg{
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 20px;
    }
    .cartDescription{
      margin-right: 20px;
    }
    .removeBtn{
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    p{
      margin-bottom: 5px;
      font-size: 16px;
    }
    b{
      font-size: 14px;
    }
  }




